In [4]:
import pandas as pd
from pyspark.sql import SparkSession, functions, types
#Create Spark Session and context
spark = SparkSession.builder.appName('example code').getOrCreate()
spark.sparkContext.setLogLevel('WARN')
sc = spark.sparkContext
#Recover stored Pandas Dataframe Objects
%store -r df1
%store -r fake_df

### Convert Pandas Dataframes to Spark Dataframes

In [33]:
spark_df1 = spark.createDataFrame(df1)
spark_df2 = spark.createDataFrame(fake_df)
print('First Dataframe:')
spark_df1.select(spark_df1.columns[:9]).show(10)
print('\nSecond Dataframe:')
spark_df2.select(spark_df2.columns[:5]).show(10,truncate=True)

First Dataframe:
+-----------+---------+-----------------------+---+--------+--------+---------+-----------------+-----------------+
|Customer ID|     City|Customer Lifetime Value|Age|Response|Coverage|Education|Effective To Date|Employment_Status|
+-----------+---------+-----------------------+---+--------+--------+---------+-----------------+-----------------+
|    DA29911|   Bhopal|     1339.3965560000001| 32|      No|Extended|Grade XII|       07-12-2020|       Unemployed|
|    PL40163|  Kolkata|            6388.288678| 34|      No|   Basic|  Diploma|       05-03-2019|       Unemployed|
|    CS14065|  Chennai|            6077.675806| 49|     Yes| Premium|  Diploma|       06-05-2020|          Retired|
|    KJ49509|  Kolkata|     3615.7581549999995| 40|     Yes| Premium|  Grade X|       01-06-2018|       Unemployed|
|    CF57721|   Bhopal|            5015.968678| 47|     Yes| Premium| Graduate|       30-10-2020|         On leave|
|    BU35480|     Pune|            2928.508467| 46|      No| Premium|  Diploma|       31-07-2018|       Unemployed|
|    UK89345|     Pune|            5237.849466| 48|     Yes| Premium| Graduate|       28-03-2019|         Employed|
|    ZR36845|  Kolkata|            3269.851544| 47|      No| Premium| Graduate|       30-07-2018|          Retired|
|    NC26827|    Delhi|             1318.01513| 26|     Yes|Extended|   Master|       08-09-2018|         Employed|
|    WY87597|Bengaluru|            9564.454456| 31|      No|   Basic|   Master|       24-07-2020|         On leave|
+-----------+---------+-----------------------+---+--------+--------+---------+-----------------+-----------------+
only showing top 10 rows


Second Dataframe:
+-----------+--------------------+--------------------+--------------------+--------------------+
|Customer ID|                Name|             Address|            Phone_no|                 Job|
+-----------+--------------------+--------------------+--------------------+--------------------+
|    JM74474|      Taylor Johnson|475 White Station...|  577.347.1095x72786|Lighting technici...|
|    SB87239|      Isaiah Hammond|735 Joseph Lakes ...|    038.150.9094x021|Environmental hea...|
|    OK68537|Michael Clements DVM|309 Leah Highway
...|        792.000.7028|     Mining engineer|
|    BR75237|     Regina Williams|97626 Mccall Terr...|    182.117.8878x877|       Media planner|
|    QV59649|     Kathryn Maxwell|436 Martha Juncti...|     +1-834-389-3554|Engineer, communi...|
|    NA70806|       Ronald Graham|40475 Nicole Shoa...|001-893-744-6464x...| Visual merchandiser|
|    JV85293|      Audrey Shields|USCGC Williams
FP...| (053)109-2244x97988|          IT trainer|
|    UV74428|        Paul Ramirez|6008 Renee Cove
E...|001-049-019-8601x...|Private music tea...|
|    UN52068|  Michael Livingston|491 Jones Burg Ap...|  929-881-6565x77086|Engineer, technic...|
|    RN95272|     Anthony Walters|37506 Joseph Clif...| (312)159-0511x79727|Scientist, audiol...|
+-----------+--------------------+--------------------+--------------------+--------------------+
only showing top 10 rows